# Copyright Fauna, Inc.
# SPDX-License-Identifier: MIT-0

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# dotenv files (natively supported by Serverless Framework)
.env

# IDE settings
.idea/
.vscode/
